* {
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
  display: flex;
}

.sidebar {
  width: 30%;
}

.sidebar img {
  width: 10%;
  border-radius: 30px;
  padding: 1%;
}

.sidebar input {
  padding: 2%;
  margin: 2%;
  border-radius: 5px;
  width: 70%;
  border-width: 1px;
}

.sidebar h5 {
  font-size: 120%;
}

.sidebar p {
  color: rgb(78, 78, 78);
}

.contact-list {
  display: flex;
}



.chat {
  background-color: blueviolet;
  width: 80%;
  flex-direction: column;
}

.chat-messages {
  flex-direction: inherit;
  padding: 5%;
}

.chat-header img {
  width: 15%;
}

.chat-header {
  display: flex;
}

.messages-sent {
  background-color: rgb(194, 217, 250);
  width: 65%;
  border-radius: 5px;
  align-self: end;

}

.messages-received {
  background-color: rgb(146, 146, 146);
  border-radius: 5px;

}